.live-update-banner-enabled {
  background-color: rgb(91,184,92);
  color: white;
  padding: 3px;
  text-align: center;
}

.live-update-banner-disabled {
  background-color: rgb(240,174,78);
  color: white;
  padding: 3px;
  text-align: center;
}

.map-container{
  width:100vw;
  height:55vh;
  display:flex;
  border-bottom: 1px solid rgb(224,224,224);
}

#map {
  width: 75%;
}
