div label input {
   margin-right:100px;
}

.filter-container {
  flex: 0 0 auto;
  background-color: black;
  overflow: hidden;
  display: flex;
  /* display: none; */
  /* width:100%; */
  flex-direction: column;
  /* background: rgb(238,238,238); */
  /* background: rgb(155, 190, 235); */
}

.filter-header {
  flex: 0 0 auto;
  /* background: rgb(65,133,245); */
  background: rgb(218,218,218);
  /* color: rgb(255,255,255); */
  color: rgb(117,117,117);
  /* width:100%; */
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.filter-nav {
  /* display: flex;
  flex-direction: row; */
  background: rgb(155, 190, 235);
}

.btn-nav {
  background-color: rgb(155, 190, 235);
  /* color: rgb(218,218,218); */
  border-radius: 0 !important;
  /* border-right: 1px solid rgb(117,117,117) !important; */
  padding-left: 3px;
  /* font-weight: bold !important; */
}
.btn-nav.active{
  background-color: rgb(81,159,250);
  color: rgb(255,255,255) !important;
  box-shadow: none !important;
}

.live-update-toggle-button {

}

.btn-custom{
  background-color: rgb(148, 209, 150);
  border:1px solid rgb(117,117,117) !important;
  color:black;
}

.btn-custom.active{
  background-color: rgb(89,184,92);
}

.btn:focus {
  outline: none !important;
  /* background-color: red !important; */
  /* display: none !important; */
}

.btn.active {
}

.filter-nav {
  /* text-align: center; */
}

.tabs {
  background-color: black;
}

.time-options-button {
  background-color: rgb(81,159,250);
}

.date-input {
  background: rgb(238,238,238);
  border: none;
  width:80px;
  align-content: center;
  text-align: center;
}

/* .date-input:focus { */
  /* outline: none !important; */
  /* background-color: red !important; */
  /* display: none !important; */
/* } */



/* #ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    width:4.0em;
    cursor: pointer;
} */

/* #ck-button {
    float:left;
    width:4.0em;
} */

/* #ck-button span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#ck-button input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked {
  background-color:grey;
}
#ck-button input:checked + label {
    background-color:grey;
}

#ck-button:hover {
    background:grey;
} */
